.container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 100%;
    height: 15vh;
    background-color: rgb(217, 217, 217);
}

.nav{
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;  
}

.list{
    width: 100%;
    display: flex;
    flex-flow: row;
    color: black;
    text-transform: uppercase;
    padding-top: 2rem;
    justify-content: space-between;
    list-style: none;
    margin-right: 2rem;
}

@media(max-width: 768px) {
    .list{
        display: none;
    }
}


.lisItem{
    padding-right: 2rem;
    
    
}

@media(max-width: 768px) {
    .listItem{
        padding-bottom: 1rem;
        display: none;
    }
}

.hamburguer{
    font-size: 2rem;
    margin: 0;
    color: white;
}

@media(min-width: 768px) {
    .hamburguer{
        display: none;
    }
}





.sidebarExpanded{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(15, 14, 14);
    transition: .2s ease-in-out;

}

.sidebar{
    position: fixed;
    left: -100vw;
    top: 0;
    width: 75vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    transition: .5s ease-in-out;
}

.sidebarHead{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    padding: 1rem;
    margin: auto;
    font-size: 1.3rem;
}

.sidebarLogo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sideBarList{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    list-style: none;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
}

.sideListItem{
    margin-bottom: 1rem;
    
}

.sideFooter{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 24px;
}

.cta{
    display: flex;
    justify-content: center;
   
    font-size: 1.2rem;
    color: white;

}

.socialItems{
    width: 50%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    color: white;

}