.navigation{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 120px;
    transition: .3s ease-in;
    
    
}

.navigationBg{
    background-color: black;
}

.nav{
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row;
    position: absolute;
    justify-content: space-between;
    align-items: center;
     
}


.list{
    width: 100%;
    display: flex;
    flex-flow: row;
    color: black;
    text-transform: uppercase;
    padding-top: 2rem;
    justify-content: space-between;
    list-style: none;
    margin-right: 2rem;
}

@media(max-width: 768px) {
    .list{
        display: none;
    }
}


.lisItem{
    padding-right: 2rem;
    
    
}

@media(max-width: 768px) {
    .listItem{
        padding-bottom: 1rem;
        display: none;
    }
}

.hamburguer{
    font-size: 2rem;
    margin: 0;
    color: white;
}

@media(min-width: 768px) {
    .hamburguer{
        display: none;
    }
}





.sidebarExpanded{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    top: 0;
    background-color: rgb(15, 14, 14);
    transition: .25s ease-in-out;

}

.sidebar{
    position: fixed;
    /*left: -100vw;*/
    top: -100vh;
    width: 100vw;
    height: 100vh;
    transition: .25s ease-in-out;
}

.sidebarHead{
    width: 90%;
    
    display: flex;
    flex-direction: row-reverse;
    color: white;
    padding: 1rem;
    margin: auto;
    font-size: 1.3rem;
}

.sidebarLogo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.sideBarList{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    list-style: none;
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
}

.sideListItem{
    margin-bottom: 1rem;
    
}

.sidebarExpanded > .sideFooter{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 24px;
}

.sideFooter > .cta{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: white;

}

.sideFooter > .socialItems{
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    color: white;

}